.footer {
  background: var(--very-dark-black-blue);
  min-height: 300px;
  border-radius: 0 8em 0 0;
  background-size: cover;
  position: relative;
}
.menu {
  font-size: 16px;
  font-weight: bold;
  color: var(--white);
  cursor: default;
}
.footer-item {
  display: flex;
  width: 100%;
}
.footer-logo {
  margin-top: 50px;
}
.footer-discription {
  width: 100%;
  margin-top: 50px;
  margin-left: 15%;
  display: flex;
  justify-content: space-between;
}
.footer-menu {
  margin-top: 20px;
}
.footer-li {
  list-style-type: none;
  margin-top: 20px;
  color: var(--white);
}
.footer-li a {
  text-decoration: none;
  color: var(--grayish-blue);
}
.footer-li a:hover {
  text-decoration: underline;
}

.attribution {
  margin-top: 10px;
  font-size: 11px;
  color: var(--white);
}
.attribution a {
  color: hsl(228, 45%, 44%);
  color: var(--white);
}

@media (max-width: 787px) {
  .footer-item {
    display: flex;
    flex-direction: column;
  }
  .footer-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-discription {
    margin-left: 0px;
    margin-top: 10px;
    justify-content: center;
  }
  .footer-discription:last-child {
    margin-bottom: 10px;
  }
  .footer-li {
    margin-top: 10px;
  }
  .footer-menu {
    text-align: center;
  }
  .menu {
    margin-bottom: 10px;
  }
  .attribution {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}